<div class="bg-[#09574a] p-4 w-[30%] m-auto">
  <img
    src="logo/logo-white.png"
    alt="alaifftime logo white"
    class="w-40 m-auto p-3 mb-4"
  />
  <h3>
    <p class="text-center text-xl mb-4 text-amber-50">
      Let's get to know each other
    </p>
    <form [formGroup]="SignUpForm" (submit)="saveUser()">
      <div class="text-left p-4 mb-2">
        <label for="fullname">
          <p class="font-medium mb-2 text-amber-50">Fullname</p>
          <input
            type="text"
            class="bg-amber-50 p-4 w-full outline-none"
            placeholder="example: Mario Rossi"
            formControlName="fullname"
          />
        </label>
      </div>

      <div class="text-left p-4 mb-2">
        <label for="username">
          <p class="font-medium mb-2 text-amber-50">Username</p>
          <input
            type="text"
            class="bg-amber-50 p-4 w-full outline-none"
            placeholder="example: mrossi"
            formControlName="username"
          />
        </label>
      </div>

      <div class="text-left p-4 mb-4">
        <label for="password">
          <p class="font-medium mb-2 text-amber-50">Password</p>
          <input
            type="password"
            class="bg-amber-50 p-4 w-full outline-none"
            placeholder="example: p@sSw0rD"
            formControlName="password"
          />
        </label>
      </div>

      <div class="text-left p-4 mb-2">
        <button
          class="hover:bg-[#11a088] text-sm hover:text-white bg-amber-50 text-[#838383] p-3 w-full font-medium rounded-md flex justify-center items-center gap-2 cursor-pointer transition-all ease-linear"
        >
          Sign Up
        </button>
      </div>
    </form>
  </h3>
</div>
