<div class="bg-[#11a088] h-[100vh] p-5 overflow-hidden">
  <div class="flex justify-between items-center">
    <div>
      <img src="logo/logo-white.png" alt="alaifftime logo white" class="w-40" />
    </div>

    <div routerLink="/sign-up">
      <button
        class="hover:bg-[#09574a] text-sm hover:text-[#11a088] text-[#e4e4e4] p-2 w-30 ml-3 rounded-md flex justify-center items-center gap-2 cursor-pointer transition-all ease-linear"
      >
        <span class="material-symbols-rounded font-medium"> how_to_reg </span>
        Sign Up
      </button>
    </div>
  </div>

  <div class="h-full place-content-center">
    <div class="text-center w-fit m-auto p-3">
      <h2 class="text-6xl font-bold mb-6 text-white">
        Your Next Great You Awaits
      </h2>
      <div class="flex justify-center items-center">
        <span class="text-sm text-amber-50"> Already have an account? </span>
        <div routerLink="/login">
          <button
            class="bg-amber-50 p-2 w-30 ml-3 rounded-md shadow-md flex justify-center items-center gap-2 cursor-pointer hover:bg-[#09574a] hover:text-[#11a088] transition-all ease-linear"
          >
            <span class="material-symbols-rounded font-medium"> login </span>
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
