<div class="p-8">
  <nav class="text-xs mb-8">
    <a routerLink="/dashboard" class="text-[#11A088]">Dashboard | </a>
    <span class="text-gray-300">Routine</span>
  </nav>

  <div class="mb-8">
    <form
      class="example-form"
      [formGroup]="TimeBlockGroup"
      (submit)="saveRoutine()"
    >
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Select day</mat-label>
          <mat-select formControlName="day">
            @for (day of daysOfWeek; track day) {
            <mat-option [value]="day">{{ day }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Insert time</mat-label>
          <input matInput placeholder="05:00 - 05:30" formControlName="time" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Insert routine</mat-label>
          <input matInput placeholder="Wake up" formControlName="routine" />
        </mat-form-field>
      </div>

      <button class="w-[30%] bg-[#11a088] text-white p-3 cursor-pointer">
        save
      </button>
    </form>
  </div>

  <div>
    <app-time-table [routines]="routines"></app-time-table>
  </div>
</div>
