/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-menu-content {
  background-color: white;
  width: 100%;
  padding: 0 0 !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item-text {
  padding: 20px !important;
  display: flex;
  align-items: center;
  gap: 5px;
  &:hover {
    transition: all linear 0.15s;
    background-color: #09574a;
    color: white;
  }
}

.mat-mdc-menu-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mat-mdc-table {
  /* min-width: 70% !important; */
  border: 0;
  border-spacing: 0;
  table-layout: auto;
  white-space: normal;
  background-color: #92929407 !important;
  margin: auto;
}

.mat-mdc-paginator-container {
  background-color: #333;
  color: white;
  /* width: 70% !important; */
  margin: auto;
}

.mat-mdc-paginator-icon {
  fill: #fff !important;
}
